{% extends 'base.html' %}

{% block item_detail %}
<div class="product-detail">
    <img src="{{ item_details.item_img.url }}" width="500">
    <h1>{{ item_details.item_name }}</h1>
    {{ item_details.item_desc }}
</div>

<form action="/cart/add/26/" method="post">
      <tr>
    <th><label for="id_Кілкість">Кілкість:</label></th>
    <td>

      <select name="Кілкість" id="id_Кілкість">
  <option value="1">1</option>

  <option value="2">2</option>

  <option value="3">3</option>

  <option value="4">4</option>

  <option value="5">5</option>

  <option value="6">6</option>

  <option value="7">7</option>

  <option value="8">8</option>

  <option value="9">9</option>

  <option value="10">10</option>

  <option value="11">11</option>

  <option value="12">12</option>

  <option value="13">13</option>

  <option value="14">14</option>

  <option value="15">15</option>

  <option value="16">16</option>

  <option value="17">17</option>

  <option value="18">18</option>

  <option value="19">19</option>

  <option value="20">20</option>

</select>


        <input type="hidden" name="override" value="False" id="id_override">

    </td>
  </tr>
      <input type="hidden" name="csrfmiddlewaretoken" value="r3fv9fAfXYcWMHId0s0OqxPsuWipLbIJAxvQ6uJAknfMxQpgUxRUMjx17OSzm4yH">
      <input type="submit" value="Додати у кошик">
    </form>

{% endblock %}