{% extends 'base.html' %}

{% block title %}Товары{% endblock %}

{% block items %}

<div id="content">

  <div id="sidebar">
    <h3>Категорії</h3>
    <ul>
      <li class="selected">
        <a  href="/">Всі</a>
      </li>
        {% for cat in categories %}
        <li  >
          <a href="/{{ cat.cat_slug }}">{{ cat.cat_name }}</a>
        </li>
      {% endfor %}

    </ul>
  </div>



    {% for item in f_list %}
    <div class="item">
        <a href="item/{{item.item_slug}}">
          <img src="{{item.item_img.url}}" width="500">
        </a>
        <br/>
        <a  href="/item/{{item.item_slug}}" align="center">{{ item.item_name }}</a>
        <br>
        {{ item.item_price }} грн
      </div>
    {% endfor %}



</div>


{% endblock %}